.nearby {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nearby__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.nearby__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nearby__sub {
    display: flex;
}

a {
    color: #000;
    font-size: 16px;
}

li {
    padding-bottom: 8px;
    border-bottom: 1px solid #dee2e6;
}